<head>
</head>
<body>
    <h1>Tricky Demo</h1>

    <h3>Tricky Methods</h3>
    <p>Tricky Methods provide an easy way to run code on the server from the client, and get the response from the server.</p>

    <span>Method "add5":</span>
    <input type="text" value="10" id="add5-input"/>
    <button onclick="runAdd5()">Run</button>
    <span id="add5-response">not run</span>

    <script type="application/javascript" src="/tricky-client.js"></script>
    <script>
        function runAdd5() {
            var initial = parseInt(document.getElementById('add5-input').value);
            console.log('Running method: %d + 5 = ?', initial);
            Tricky.call('add5', initial, function(response) {
                console.log('Response: %d', response);
                document.getElementById('add5-response').innerHTML = response;
            });
        }
    </script>
</body>